.entry {
  border-top: 8px solid #424242;
  padding-top: 16px;
  margin: 8px 0 0;

  a > .fa {
    font-size: 80%;
    margin-right: 0.5em;
  }

  div {
    margin-bottom: 40px;
  }

  div,
  p,
  dl,
  ul,
  ol,
  figure {
    clear: both;
    font-size: 17px;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin-bottom: 40px;
    line-height: 1.8;
  }

  p {
    margin-bottom: 26px;
    line-height: 2.2;
  }

  dd {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 36px !important;
    }
  }

  img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1px;
  }

  cite {
    font-style: normal;
  }

  q {
    background-color: #efebe9;
    padding: 24px 24px 24px 40px;
    display: block;
    border-radius: 8px;
    text-indent: -1em;
    font: {
      weight: 700;
      size: 16px;
      style: italic;
    }
  }

  hr {
    background-color: #ccc;
    border: 0;
    clear: both;
    height: 1px;
    margin: 32px auto;
  }

  .intro {
    padding: 0 0 16px;
    border-bottom: 8px solid #424242;

    > p {
      font-family: "San Francisco", BlinkMacSystemFont, 游ゴシック, "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Noto Sans Japanese", "Noto Sans CJK JP", sans-serif;
      font-size: 18px;
      line-height: 2;
      margin-bottom: 0;
    }
  }

  .agenda {
    > ul {
      margin-left: 16px;
    }
  }

  h2,
  .entry-h2 {
    padding: 32px 16px;
    background: linear-gradient(-45deg, #e0e0e0 25%, transparent 25%, transparent 50%, #e0e0e0 50%, #e0e0e0 75%, transparent 75%, transparent);
    background: -webkit-linear-gradient(-45deg, #e0e0e0 25%, transparent 25%, transparent 50%, #e0e0e0 50%, #e0e0e0 75%, transparent 75%, transparent);
    background-size: 3px 3px;
    border-top: 4px solid #424242;
    border-bottom: 4px solid #424242;
    color: $_text-color;
    font-size: 32px;
    margin: 64px auto 32px;
  }

  h3,
  .entry-h3 {
    font-size: 26px;
    font-weight: bold;
    color: $_text-color;
    margin: 48px auto 24px;
  }

  h4,
  h5,
  .entry-h4 {
    line-height: 1.8em;
    font-size: 18px;
    font-weight: bold;
  }

  .blockBorder {
    padding: 40px 24px;
    background-color: #f1f8e9;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.7;

    p {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 24px;
    }

    q {
      margin-left: 0 !important;
    }
  }

  .figBorder {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    border-top: 1px dotted #bdbdbd;
    border-bottom: 1px dotted #bdbdbd;
    overflow: hidden;

    img {
      border-radius: 2px;
      border: 6px solid #424242;
    }

    figcaption {
      margin-top: 8px;
    }

    a:hover img {
      border: 6px solid $_link-color;
      background-color: $_link-color;
      opacity: 0.9;
    }
  }

  .figbg {
    background-color: #eee;
    padding: 4px 8px;
    margin: {
      left: 8px;
      right: 8px;
    }
  }

  .iframeBorder {
    text-align: center;
    margin-bottom: 0;

    iframe,
    .iframe {
      margin: {
        left: auto;
        right: auto;
      }
    }
  }

  .ol-type {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  .outside {
    text-indent: -1em;
    margin-left: 1em;
  }

  .li-disc {
    margin-left: 1em;
    list-style-type: disc;
  }

  .note {
    font-size: 16px;
    background-color: #ffebee;
    padding: 40px 24px;
    border-radius: 8px;
    color: #b71c1c;
    line-height: 1.7;

    p {
      line-height: inherit;
      font-size: inherit;
    }
  }

  .quote {
    &:lang(en) {
      background-color: #efebe9;
      margin-bottom: 4px !important;
      line-height: 1.6;
      font-size: 12px;
      font-weight: normal;
      color: #888;
      border-left: 8px solid #ddd;
      margin-left: 0;
      padding: 24px;
      border-radius: 8px;
      text-indent: -0.5em;
    }
  }

  .text-center {
    text-align: center;
  }

  .sample {
    padding: 14px;
    overflow: hidden;
    border: 1px dashed #ccc;
  }

  code,
  .mark {
    color: #424242;
    vertical-align: 2px;
    font-size: 88%;
    border: 1px solid #e0e0e0;
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 2px;
    line-height: 1;
    margin: {
      left: 2px;
      right: 2px;
    }
  }

  .update {
    background-color: #ffebee;
  }

  .code {
    margin: auto;
    position: relative;
    box-sizing: border-box;
    background-color: #394034;
    color: #f8f8f2 !important;
    display: block;
    line-height: 1.4;
    padding: 40px 24px;
    text-align: left;
    overflow: auto;
    resize: horizontal;
    z-index: 500;
    border: 0;
    border-radius: 8px;
    vertical-align: 0;
    font: {
      family: Consolas, 'Courier New', Courier, Monaco, monospace;
      family: Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
      size: 14px !important;
      weight: bold;
    }

    div {
      margin: 0 !important;
      padding: 0;
    }

    em {
      font: {
        style: normal;
      }
      margin: {
        left: -24px;
        right: -24px;
      }
      padding: {
        left: 24px;
        right: 24px;
      }

      background-color: #555;
      display: inline-block;
      width: 100%;
    }

    .update {
      background-color: #e91e63 !important;
    }

    li {
      &.L0,
      &.L1,
      &.L2,
      &.L3,
      &.L4,
      &.L5,
      &.L6,
      &.L7,
      &.L8,
      &.L9 {
        padding-left: 24px;
        border-left: 1px solid #75715e;
        margin-left: 36px;
        line-height: 1.4;
        list-style-type: decimal !important;
        list-style-position: outside;
        background-color: #272822;
        font-size: 14px;
      }
    }
  }

  .top {
    &_0 {
      margin-top: 0;
    }

    &_1 {
      margin-top: 24px;
    }

    &_2 {
      margin-top: 32px;
    }
  }

  .bottom {
    &_0 {
      margin-bottom: 0;
    }

    &_1 {
      margin-bottom: 32px;
    }

    &_2 {
      margin-bottom: 40px;
    }
  }

  .btn-github {
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    display: inline-block !important;
    padding: 16px 24px;
    cursor: pointer;
    text-decoration: none !important;
    transition: 0.3s;
    box-sizing: border-box;
    color: #fff !important;
    background: #37474f;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);

    &:hover,
    &:focus {
      background: #222c31;
    }

    &:active {
      background: #0d1113;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    }

    .fa {
      color: #fff;
    }
  }

  @media screen and (max-width: $_responsive-point) {
    h2,
    .code,
    .entry-h2,
    .blockBorder,
    .note,
    .quote:lang(en),
    .figbg,
    .figBorder,
    .iframeBorder {
      margin-left: -16px;
      margin-right: -16px;
    }

    .blockBorder,
    .note,
    .quote:lang(en),
    .code {
      border-radius: 0 !important;
    }

    .figBorder {
      width: calc(100% + 32px);

      img {
        border-radius: 0;
      }
    }
  }

  @media screen and (max-width: 560px) {
    .iframeBorder {
      position: relative;
      width: calc(100% + 32px);
      padding: calc(315 / 560 * 100%) 0 0;

      iframe,
      .iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
