.footer {
  $font-color: #fff;
  color: $font-color;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  clear: both;
  background-color: #424242;
  z-index: 0;
  width: 100%;
  box-sizing: border-box;
  &__sub {
    padding: 42px 0 44px;
    margin: 0 auto;
  }
  &__share-button {
    overflow: hidden;
    text-align: center;
    width: 288px;
    margin: 0 auto 16px;
    &--list {
      width: 56px;
      float: left;
      margin: {
        left: 8px;
        right: 8px;
      }
    }

    %__share-button {
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      width: 56px;
      line-height: 56px;
      font-size: 28px;
      transition: all .8s ease 0s;
    }
    i {
      color: $font-color;
      margin: 0;
    }
    &--gh {
      @extend %__share-button;
      background-color: #212121;
    }
    &--fb {
      @extend %__share-button;
      background-color: #3864A3;
    }
    &--tw {
      @extend %__share-button;
      background-color: #55ACEE;
    }
    &--gp {
      @extend %__share-button;
      background-color: #bd3d2a;
    }
    :hover {
      transform: rotate(360deg);
    }
  }
  &__credit {
    clear: both;
    text-align: center;
    font: {
      size: 14px;
      style: normal;
    }
    a {
      color: $font-color;
    }
  }
  &__style {
    &--show {
      display: block;
    }
    &--hidden {
      display: none;
    }
  }
  &__bar {
    position: fixed;
    bottom: 0;
    width: -webkit-calc(100% - 64px);
    width: calc(100% - 64px);
    margin: {
      left: 32px;
      right: 32px;
    }
    z-index: 4;
    height: 24px;
    background-color: #8b0;
    border-radius: 2px 2px 0 0;
    opacity: .9;
    &-link {
      position: absolute;
      bottom: 4px;
      &--left {
        left: 16px;
      }
      &--right {
        right: 16px;
      }
    }
    &-link a {
      color: $font-color;
      font-size: 1.2em;
      text-decoration: none;
    }
    &-link a i {
      color: $font-color;
    }
  }
  /*
  @media screen and (max-width: 1024px) {
    &__bar {
      width: -webkit-calc(100% - 32px);
      width: calc(100% - 32px);
      margin: {
        left: 16px;
        right: 16px;
      }
      &-link a {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: $font-color;
        background-color: #8b0;
      }
    }
  }
  */
}
