.header {
  $height: 56px;

  vertical-align: middle;
  width: 100%;
  background-color: #000;
  background: -webkit-linear-gradient(#111 50%, #000 50%, #000);
  background: linear-gradient(#111 50%, #000 50%, #000);
  line-height: $height;
  height: $height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3 !important;
  zoom: 1;
  &__inner {
    position: relative;
    line-height: $height;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  &__title {
    position: absolute;
    left: 16px;
    font-size: 24px;
    z-index: 30;
    a {
      color: $_theme-color !important;
      text-decoration: none;
      line-height: $height;
      &:hover {
        color: $_theme-color !important;
        text-shadow: 0px 0px 20px #fff;
      }
    }
  }
  &__search {
    width: 450px;
    margin: {
      left: auto;
      right: auto;
    }
    &-form {
      &_mobile {
        position: absolute;
        top: 0;
        left: 56px;
        width: calc(100% - 80px);
      }
    }
    @mixin -text {
      color: #666;
      font-size: 16px;
      background-color: #fff;
      height: 40px;
      padding: 0px 6px;
      border-radius: 2px 0 0 2px;
      vertical-align: middle;
    }
    &-text {
      @include -text;
      width: 406px;
      &_mobile {
        @include -text;
        width: calc(100% - 34px);
        box-sizing: border-box;
        border: 1px solid #888;
      }
    }
    @mixin -button {
      background-color: #efefef;
      font-size: 16px;
      cursor: pointer;
      width: 32px;
      height: 40px;
      border: 0;
      vertical-align: middle;
      border-radius: 0 2px 2px 0;
    }
    &-button {
      @include -button;
      &_mobile {
        @include -button;
        text-align: center;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid #888;
        border-left: none;
      }
    }
    &_mobile {
      width: 100vw;
      position :fixed;
      top: 0;
      left: 100vw;
      z-index: 31;
      background-color: #fff;
      line-height: $height;
      height: $height;
      box-shadow: 0 1px 1px #333;
    }
  }
  &__button {　
    &_search {
      outline: none;
      position: absolute;
      top: 4px;
      right: 56px;
      width: 40px;
      i {
        font-size: 24px;
        color: #fafafa;
        cursor: pointer;
      }
      @media screen and (min-width: $_responsive-point) {
        display: none;
      }
    }
    &_back {
      outline: none;
      position: absolute;
      top: 6px;
      left: 16px;
      width: 40px;
      i {
        font-size: 24px;
        color: #111;
        cursor: pointer;
      }
    }
  }
  &__share {
    width: 40px;
    line-height: 48px;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 16px;
    a i {
      font-size: 24px;
      color: #fafafa;
      margin-left: 8px;
    }
  }
  @media screen and (max-width: $_responsive-point) {
    &__inner {
      max-width: 100%;
      width: 100%;
    }
    &__search {
      visibility: hidden;
    }
    &__display {
      display: block;
      left: 0;
    }
  }
}

#blog_header {
  position: fixed;
  top: 0;
  left: 0;
  height: 128px + 56px;
  z-index: 0;
  clear: both;
  background-color: #8b0;
  width: 100%;
}
