.header {
  $height: 64px;

  &__title {
    margin-top: -2px;
    position: absolute;
    left: 16px;

    font: {
      family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      size: 28px;
      weight: normal;
    }

    &_link {
      color: $_theme-color !important;
      text-decoration: none;
      line-height: $height;

      &:hover {
        text-shadow: 0 0 20px #fff;
      }
    }
  }

  &__search {
    width: 450px;
    margin: {
      left: auto;
      right: auto;
    }

    &-form {
      &_mobile {
        position: absolute;
        top: 0;
        left: 56px;
        width: calc(100% - 80px);
      }
    }

    @mixin -text {
      vertical-align: middle;
      box-sizing: border-box;
      color: #fff;
      font-size: 18px;
      background-color: #424242;
      height: 44px;
      border: 0;
      padding: 0 6px;
      border-radius: 2px 0 0 2px;
      margin-top: -2px;
    }

    &-text {
      @include -text;

      width: 406px;

      &_mobile {
        @include -text;

        width: calc(100% - 34px);
        box-sizing: border-box;
      }
    }

    @mixin -button {
      box-sizing: border-box;
      margin-top: -2px;
      background-color: #424242;
      font-size: 16px;
      color: #bdbdbd;
      cursor: pointer;
      width: 32px;
      height: 44px;
      border: 0;
      vertical-align: middle;
      border-radius: 0 2px 2px 0;
    }

    &-button {
      @include -button;

      &_mobile {
        @include -button;

        text-align: center;
        padding: 0;
        box-sizing: border-box;
        border-left: none;
      }
    }

    &_mobile {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 100vw;
      z-index: 10000;
      background-color: #fff;
      line-height: $height;
      height: $height;
      box-shadow: 0 1px 1px #333;
    }
  }

  &__button {
    &_search {
      position: absolute;
      top: 4px;
      right: 56px;
      width: 40px;

      > .fa {
        font-size: 24px;
        color: #fafafa;
        cursor: pointer;
      }

      @media screen and (min-width: $_responsive-point) {
        display: none;
      }
    }

    &_back {
      margin: 0;
      outline: none;
      position: absolute;
      top: 6px;
      left: 16px;
      width: 40px;

      > .fa {
        font-size: 24px;
        color: #111;
        cursor: pointer;
      }
    }
  }

  &__share {
    width: 40px;
    line-height: 64px;
    text-align: center;
    position: absolute;
    top: 4px;
    right: 16px;

    .fa {
      font-size: 24px;
      color: #fafafa;
      margin-left: 8px;
    }
  }

  @media screen and (max-width: $_responsive-point) {
    &__inner {
      max-width: 100%;
      width: 100%;
    }

    &__search {
      visibility: hidden;
    }

    &__display {
      display: block;
      left: 0;
    }
  }
}
