.category {
  &__list {
    margin: 0 auto;
    max-width: 744px;
    width: 100%;
    letter-spacing: -1em;

    &_current {
      border-bottom: 4px solid $_theme-color !important;

      .category__link {
        font-weight: bold;
        color: $_theme-color !important;
      }
    }

    &_li {
      display: inline-block;
      width: 28%;
      border-bottom: 4px solid #eceff1;
      transition: 0.2s;

      &:first-child {
        margin-left: 0;
        width: 16%;
      }

      &:hover {
        border-bottom: 4px solid adjust-color($_theme-color, $alpha: -0.1);
      }
    }
  }

  &__link {
    letter-spacing: 0;
    line-height: 1.2;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #616161;
    padding: 4px 0 8px;
    outline: none;
    transition: 0.2s;
    text: {
      align: center;
      decoration: none;
    }

    &:hover {
      color: $_theme-color;
    }

    &:active {
      color: $_theme-color;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: normal;
  }

  @media screen and (max-width: $_responsive-point) {
    &__link {
      font-size: 14px;
      padding: 8px 0;
    }

    &__name {
      display: block;
      font-size: 12px;
    }
  }
}
