.slideshowad-images {
  display: none !important;
}

.wp-pagenavi {
  @mixin navi {
    display: inline-block;
    color: #607d8b;
    width: 40px;
    line-height: 40px;
    background-color: #eceff1;
    margin-left: 4px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    text: {
      decoration: none;
      align: center;
    }
  }

  @mixin navi-hover {
    color: #fff;
    background-color: $_theme-color;
  }

  margin: 40px auto;
  text-align: center;
  font-size: 16px;

  .fa {
    color: #607d8b;

    &:hover {
      color: #fff;
    }
  }

  a {
    @include navi;

    &:hover {
      @include navi-hover;
    }
  }

  .current {
    @include navi;

    font-weight: bold;
  }
}
