.post {
  box-sizing: border-box;
  margin: 0 8px 16px;
  background-color: #eceff1;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: #e8eaf6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 24px;
    line-height: 1.4;
    padding-top: 8px;
    margin: 0 16px;

    a {
      color: #111;
      text-decoration: none;
    }
  }

  &__date {
    vertical-align: middle;
    font-size: 14px;

    a {
      text-decoration: none;
      color: #616161;
    }
  }

  &__meta {
    margin-top: 4px;
    display: flex;
    border-top: 1px dotted #cfd8dc;
    padding: 8px 16px;
    margin-bottom: 0;

    &-ul {
      display: flex;
      flex: 2;
    }

    &-li {
      font-size: 14px;
      line-height: 1em;
      margin-right: 16px;

      i {
        vertical-align: baseline;
        color: #616161;
        text-decoration: none;
      }
    }
  }

  &__socialbtn {
    &-ul {
      display: flex;
      flex: 1;
      text-align: right;
    }

    &-li {
      flex: 1;
      text-align: center;
      font-size: 14px;

      span {
        margin: 0 4px 0 0;
      }

      &:last-child span {
        margin: 0;
      }

      a,
      i {
        vertical-align: baseline;
        color: #616161;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: $_responsive-point) {
    &__meta {
      display: block;

      &-ul {
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 16px;
      }

      &-li {
        display: inline;
      }
    }

    &__socialbtn {
      &-ul {
        text-align: center;
        position: static;
        margin-right: 16px;
        padding-bottom: 8px;
      }
    }
  }
}
