.post {
  box-sizing: border-box;
  position: relative;
  margin: 0 8px 16px;
  background-color: #eceff1;
  clear: both;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    background-color: #e8eaf6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 24px;
    line-height: 1.4;
    padding-top: 8px;
    margin: 0 16px;

    a {
      color: #111;
      text-decoration: none;
    }
  }

  &__date {
    vertical-align: middle;
    font-size: 14px;

    a {
      text-decoration: none;
      color: #616161;
    }
  }

  &__sharebutton {
    position: absolute;
    right: 0;
    bottom: 4px;

    li {
      width: 60px;
      display: inline-block;
      font-size: 14px;

      span {
        margin: 0 4px 0 0;
      }

      &:last-child span {
        margin: 0;
      }
    }

    a,
    i {
      vertical-align: baseline;
      color: #616161;
      text-decoration: none;
    }
  }

  @media screen and (max-width: $_responsive-point) {
    &__metadata {
      text-align: center;

      li {
        float: none;
        display: inline-block;
      }
    }

    &__sharebutton {
      text-align: center;
      position: static;
      margin-right: 16px;
      padding-bottom: 8px;
    }
  }
}
