/* ▼初期化▼ */
body, div, pre, p, blockquote, form, fieldset, input, textarea, select, option,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
table, th, td, embed, object {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

img {
  -ms-interpolation-mode: bicubic;
}

img,
input,
iframe {
  margin: 0;
  padding: 0;
  vertical-align: middle !important;
  border: 0;
}

ul,
ol {
  list-style-type: none;
}

/* ▼html5用▼ */
section, nav, article, aside, header, footer, figure, figcaption {
  display: block;
  margin: 0;
  padding: 0;
}

select {
  cursor: pointer;
}
