.search {
  &__result {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eee;

    strong {
      font-size: 24px;
    }
  }

  &__box {
    position: relative;
    padding: 16px;

    &_title {
      font-size: 20px;
    }

    &_date {
      color: #757575;
    }

    p {
      margin: 4px auto;
      font-size: 14px;
    }

    &_category {
      font-size: 14px;
      margin-bottom: 8px;

      li {
        display: inline-block;
        margin-right: 16px;
      }
    }

    &_share {
      border-radius: 2px;
      background-color: #efebe9;
      padding: 4px 16px;

      li {
        width: 64px;
        display: inline-block;
        font-size: 14px;

        span {
          margin: 0 8px 0 0;
        }
      }

      a,
      i {
        vertical-align: baseline;
        color: #263238;
        text-decoration: none;
      }
    }
  }

  &__display {
    display: inline;
  }

  @media screen and (max-width: $_responsive-point) {
    &__display {
      display: none;
    }
  }
}
