.search {
  &__result {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }

  &__box {
    position: relative;
    padding: 16px;

    &_title {
      font: {
        size: 22px;
        weight: normal;
      }

      margin-bottom: 0;
    }

    &_date {
      color: #757575;
      margin: 4px auto;
      font-size: 14px;
    }

    &_category {
      font-size: 14px;
      margin-bottom: 8px;

      &-list {
        display: inline-block;
        margin-right: 16px;
      }
    }
  }

  &__display {
    display: inline;

    &_big {
      font-size: 24px;
    }
  }

  @media screen and (max-width: $_responsive-point) {
    &__display {
      display: none;
    }
  }
}
