$_theme-color: #8b0;
$_theme-color: #7CB342; /* light green 600 */
$_text-color: #212121;
$_link-color: #3160aa;

$_content-width: 1099px; /* ここを変更する時は、main.jsも */
$__entry-width: 760px;
$__sidebar-width: 332px;
$_entry-width: $__entry-width;
$_sidebar-width: calc(((100% - 1100px) / 2) + 332px);
$_responsive-point: $_content-width + 80px;

body {
/*  font-family: "Segoe UI", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, Osaka, 'ＭＳ Ｐゴシック', sans-serif; */
  font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック';
  overflow-y: scroll;
  font-size: 62.5%;
  color: $_text-color;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: $_link-color;
  &:hover {
    text-decoration: none;
  }
}
a > i {
  vertical-align: -1px;
  color: #212121;
  text-decoration: none;
  margin-right: 4px;
}
.hidden_elem {
  display: none;
}
.mobile_only {
  display: none;
}
.ol-type {
  list-style-type: decimal;
  padding-left: 1.5em;
}
.slideshowad-images {
  display: none !important;
}
@media screen and (max-width: $_responsive-point) {
  .pc_only {
    display: none;
  }
  .mobile_only {
    display: block;;
  }
}
