/* #sidebar */
.sidebar {
  /* float: right; */
  width: $_sidebar-width;
  color: #757575;
  font-size: 14px;
  background-color: rgba(236, 239, 241, 0.5);
  display: flex;
  justify-content: center;

  &__sub {
    box-sizing: border-box;
    width: 332px;
    padding: 16px 8px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    height: calc(100vh - 40px);
  }

  &__title,
  .title {
    font: {
      weight: bold;
      size: 18px;
    }
    color: #fff;
    text-align: center;
    margin: 16px 0 8px;
    padding: 8px 0;
    border-radius: 1px;
    background-color: #607D8B;
  }
  &__author {
    width: 316px;
    &-photo {
      margin: 8px auto 4px;
      text-align: center;
      img {
        border-radius: 50%;
      }
    }
    &-name {
      text-align: center;
      margin-bottom: 4px;
      color: #212121;
      font: {
        size: 20px;
        weight: bold;
      }
    }
    &-social {
      margin: 0 auto 16px;
      font-size: 20px;
      text-align: center !important;
      a {
        margin: {
          left: 8px;
          right: 8px;
        }
      }
    }
    &-description {
      text-align: justify;
      text-justify: inter-ideograph;
      color: #666;
      margin-bottom: 4px;
    }
  }
  &__widget {
    &_twitter {
      height: 600px;
    }
    &_ad {
      text-align: center;
    }
  }
  &__ad1 {
    display: none;
    @media screen and (min-width: 640px) {
      display: block;
    }
  }
  &__ad2 {
    margin-top: 32px;
  }
  img, iframe {
    vertical-align: middle;
  }
  li {
    font-size: 14px;
    padding-bottom: 8px;
  }
  ul,
  select,
  table {
    margin-bottom: 32px;
  }

  @media screen and (max-width: $_responsive-point) {
    width: 100%;
    max-width: 100%;
    padding-bottom: 48px;

    &__sub {
      width: 100%;
      max-width: 100%;
      height: auto;
      padding: 16px;
    }

    &__box {
      position: static;
      height: auto;
    }

    &__author {
      width: 100%;
    }
  }
}
