/* #sidebar */
.sidebar {
  float: right;
  width: $_sidebar-width;
  color: #757575;
  font-size: 14px;
  position: relative;
  background-color: rgba(236,239,241 ,.5);
  overflow: hidden;
  z-index: 10;
  &__sub {
    z-index: 10;
    box-sizing: border-box;
    width: 332px;
    padding: 16px 8px 12px 24px;
    height: calc(100vh - 40px);
  }
  &__box {
    height: calc(100vh - 40px);
  }
  &__title,
  .title {
    font: {
      weight: bold;
      size: 18px;
    }
    color: #fff;
    text-align: center;
    margin: 16px 0 8px;
    padding: 8px 0;
    border-radius: 1px;
    background-color: #607D8B;
  }
  &__author {
    &-photo {
      margin: 8px auto 4px;
      text-align: center;
      img {
        border-radius: 50%;
      }
    }
    &-name {
      text-align: center;
      margin-bottom: 0;
      color: #424242;
      font: {
        size: 20px;
        weight: bold;
      }
    }
    &-social {
      letter-spacing: 2px;
      margin: 0 auto 8px;
      font-size: 22px;
      text-align: center !important;
    }
    &-description {
      text-align: justify;
      text-justify: inter-ideograph;
      color: #666;
      margin-bottom: 16px;
    }
  }
  &__widget {
    &_twitter {
      height: 600px;
    }
    &_ad {
      text-align: center;
    }
  }
  &__ad1 {
    display: none;
    @media screen and (min-width: 640px) {
      display: block;
    }
  }
  &__ad2 {
    margin-top: 32px;
  }
  img, iframe {
    vertical-align: middle;
  }
  li {
    font-size: 14px;
    padding-bottom: 8px;
  }
  ul,
  select,
  table {
    margin-bottom: 32px;
  }
  @media screen and (max-width: $_responsive-point) {
    width: 100%;
    max-width: 100%;
    padding-bottom: 48px;
    &__sub {
      width: 100%;
      max-width: 100%;
      height: auto;
      padding: 16px;
    }
    &__box {
      height: auto;
    }
  }
}
