/* ad-single1 */
.ad {
  @mixin __title {
    margin-bottom: 8px;
    font-size: 12px;
    color: #757575;
  }

  &-single1 {
    text-align: center;

    &__title {
      @include __title;
    }

    &__text {
      display: none;
    }

    @media screen and (min-width: 640px) {
      &__text {
        display: block;
      }

      &__banner {
        display: none;
      }
    }
  }

  &-single2 {
    text-align: center;
    margin-bottom: 32px;

    &__title {
      @include __title;
    }
  }
}

/* item */
.item {
  position: relative;
  text-align: center;
  background-color: #e3f2fd;
  box-sizing: border-box;

  &::after {
    content: 'Amazonアソシエイト';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    padding: 2px 8px;
    background-color: #64b5f6;
    color: #fff;
  }

  &__image {
    display: block;
    margin-top: 32px;
  }

  &__info {
    text-align: center !important;
    margin: 0 24px !important;

    li {
      font-size: 14px;
      line-height: 1.4;
    }

    strong {
      font-size: 18px;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 16px 8px;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 16px auto 32px;

    &:active {
      box-shadow: none;
    }

    &--orange {
      background-color: #ff9801;
      color: #fff;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: $_responsive-point) {
    &__button {
      clear: both;
      width: 100%;
    }
  }
}
