/* ad-single1 */
.ad {
  @mixin __title {
    margin-bottom: 2px;
    font-size: 12px;
    color: #757575;
  }
  &-single1 {
    text-align: center;
    &__title {
      @include __title;
    }
    &__text {
      display: none;
    }
    @media screen and (min-width: 640px) {
      &__text {
        display: block;
      }
      &__banner {
        display: none;
      }
    }
  }
  &-single2 {
    text-align: center;
    margin-bottom: 32px;
    &__title {
      @include __title;
    }
  }
}


/* item */
.item {
  display: flex;
  figcaption {
    padding-left: 8px;
  }
  &__image {
    flex: none;
  }
  &__info {
    text-align:left;
    margin-bottom: 0 !important;
    li {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  &__button {
    font-size: 14px;
    padding: 8px;
    border-radius: 2px;
    width: 220px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px #757575;
    &--orange {
      float: left;
      margin-top: 8px;
      background-color: #F57F17;
      color: #fff;
    }
  }
  @media screen and (max-width: $_responsive-point) {
    &__button {
      width: 100%;
    }
  }
}

/* code */
code {
  box-sizing: border-box;
  background-color: #212121;
  border-radius: 1px !important;
  color: #fff;
  display: block;
  line-height: 1.4;
  padding: 24px 16px;
  text-align: left;
  font: {
    family: Consolas, 'Courier New', Courier, Monaco, monospace !important;
    size: 14px !important;
    weight: bold !important;
  }
  em {
    font: {
      style: normal;
      weight: normal;
    }
    background-color: #424242;
    display: inline-block;
    width: 100%;
  }
  .update {
    background-color: #E91E63 !important;
  }
  li {
    &.L0, &.L1, &.L2, &.L3, &.L4, &.L5, &.L6, &.L7, &.L8, &.L9 {
      color: #aaa;
      list-style-type: decimal !important;
      margin-left: 36px;
    }
  }
}
