/* ad-single1 */
.ad {
  @mixin __title {
    margin-bottom: 8px;
    font-size: 12px;
    color: #757575;
  }

  &-single1 {
    text-align: center;

    &__title {
      @include __title;
    }

    &__text {
      display: none;
    }

    @media screen and (min-width: 640px) {
      &__text {
        display: block;
      }

      &__banner {
        display: none;
      }
    }
  }

  &-single2 {
    text-align: center;
    margin-bottom: 32px;

    &__title {
      @include __title;
    }
  }
}


/* item */
.item {
  border: 1px solid #ccc;
  text-align: center;
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 16px 8px;
  &__info {
    text-align: center !important;
    margin-bottom: 0 !important;
    li {
      font-size: 16px;
      line-height: 1.4;
    }
    strong {
      font-size: 20px;
    }
  }
  &__button {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 16px 8px;
    border-radius: 2px;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 2px #757575;
    &:active {
      box-shadow: none;
    }
    &--orange {
      margin: 16px auto 8px;
      background-color: #F57F17;
      color: #fff;
      transition: .2s;
      &:hover {
        opacity: .8;
      }
    }
  }
  @media screen and (max-width: $_responsive-point) {
    &__button {
      clear: both;
      width: 100%;
    }
  }
}

/* code */
code {
  position: relative;
  box-sizing: border-box;
  background-color: #282828;
  border-radius: 1px !important;
  color: #f8f8f2 !important;
  display: block;
  line-height: 1.4;
  padding: 16px;
  text-align: left;
  overflow: auto;
  resize: horizontal;
  z-index: 500;
  font: {
    family: Consolas, 'Courier New', Courier, Monaco, monospace;
    family: Menlo, Consolas, 'DejaVu Sans Mono', monospace !important;
    size: 14px !important;
  }
  div {
    margin: 0 !important;
    padding: 0;
  }
  em {
    font: {
      style: normal;
    }
    margin: {
      left: -16px;
      right: -16px;
    }
    padding: {
      left: 16px;
      right: 16px;
    }
    background-color: #424242;
    display: inline-block;
    width: 100%;
  }
  .update {
    background-color: #E91E63 !important;
  }

  li {
    &.L0,
    &.L1,
    &.L2,
    &.L3,
    &.L4,
    &.L5,
    &.L6,
    &.L7,
    &.L8,
    &.L9 {
      padding-left: 16px;
      border-left: 1px solid #75715e;
      margin-left: 36px;
      line-height: 1.4;
      list-style-type: decimal !important;
      list-style-position: outside;
      background-color: #272822;
      font-size: 14px;
    }
  }
}

/* sharebutton */
.entry__share {
  @mixin button {
    margin: 16px auto 0;
    display: inline-block;
    width: calc(100% / 4);

    a {
      color: #fff;
      width: 100%;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
      padding: 4px 0;
      border-radius: 2px;
      transition: 0.3s;
    }

    a:hover {
      opacity: 0.5;
    }

    a i {
      color: #fff;
    }

    span {
      font-weight: normal;
    }
  }

  &-button {
    text-align: center;
    width: 100%;

    &_hatena {
      @include button;

      background: #008ce1;
    }

    &_twitter {
      @include button;

      background: #55acee;
    }

    &_facebook {
      @include button;

      background: #3864a3;
    }

    &_pocket {
      @include button;

      background: #ef4357;
    }
  }
}
