.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.is-sticky {
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.is-sticky:not([style*='margin-top']) {
  margin-top: 0 !important;
}

.is-sticky:not([style*='margin-bottom']) {
  margin-bottom: 0 !important;
}

.is-absolute {
  position: absolute;
}
