.footer {
    $font-color: #fff;
    color: $font-color;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    clear: both;
    background-color: #424242;
    z-index: 0;
    width: 100%;
    &__sub {
        padding: 42px 0 44px;
        margin: 0 auto;
    }
    &__credit {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        a {
            color: $font-color;
        }
    }
    &__bar {
        position: fixed;
        bottom: 0;
        width: calc(100% - 80px);
        margin-left: 40px;
        margin-right: 40px;
        z-index: 4;
        height: 24px;
        background-color: #8b0;
        border-radius: 2px 2px 0 0;
        opacity: .9;
        filter: alpha(opacity=90);
        -ms-filter: 'alpha(opacity=90)';
        &-link {
          position: absolute;
          bottom: 4px;
          &--left {
            left: 16px;
          }
          &--right {
            right: 16px;
          }
        }
        &-link a {
            color: #fff;
            font-size: 1.2em;
            text-decoration: none;
        }
        &-link a i {
            color: #fff;
        }
    }
}
