.header {
    $height: 56px;

    width: 100%;
    background-color: #000;
    background: -webkit-linear-gradient(#222 50%, #000 50%, #000);
    background: linear-gradient(#222 50%, #000 50%, #000);
    line-height: $height;
    height: $height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: .9;
    zoom: 1;
    &__inner {
        position: relative;
        line-height: $height;
        width: 1020px;
        width: 1050px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
    &__title {
        position: absolute;
        left: 16px;
        font-size: 22px;
        z-index: 30;
        a {
            color: #fff !important;
            text-decoration: none;
            font-weight: normal;
            display: block;
            line-height: $height;
            &:hover {
                color: #fff !important;
                text-shadow: 0px 0px 20px #fff;
            }
        }
    }
    &__search {
        width: 322px;
        margin-left: auto;
        margin-right: auto;
        &-text {
            color: #666;
            font-size: 14px;
            background-color: #fff;
            width: 280px;
            height: 30px;
            padding: 0 6px;
            border-radius: 2px 0 0 2px;
            vertical-align: middle;
        }
        &-button {
            background-color: #efefef;
            font-size: 16px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: 0;
            vertical-align: middle;
            border-radius: 0 2px 2px 0;
        }
    }
    &__share {
        line-height: 48px;
        text-align: right;
        position: absolute;
        top: 0;
        right: 16px;
        img {
            position: relative;
            top: -4px;
        }
        a i {
            line-height: $height;
            font-size: 20px;
            color: #fff;
            margin-left: 8px;
        }
    }
    @media screen and (max-width: 1024px) {
        &__inner {
            max-width: 100%;
            width: 100%;
        }
        &__search {
            visibility: hidden;
        }
    }
}

#blog_header {
    position: fixed;
    top: 56px;
    left: 0;
    height: 128px;
    z-index: 0;
    clear: both;
    background-color: #8b0;
    width: 100%;
}