.DS_Store
.cache/
.sass-cache/

assets/
node_modules/
css/style.css
css/style.css.map
css/footer.css.map
css/header.css.map
css/index.css.map
css/sidebar.css.map
css/single.css.map
css/reset.css.map
css/settings.css.map
css/nav.css.map
css/navi.css.map
js/function.js
js/function.min.js
js/meltdown/
js/lang-css.js
js/run_prettify.js
js/comment-reply.js
style.css

npm-debug.log
ads.txt

.env

mysql.chabin.sql