$_theme-color: #8b0;
$_theme-color: #7cb342; /* light green 600 */
$_theme-color: #85af4b;
$_text-color: #212121;
$_link-color: #3160aa;

$_content-width: 1099px; /* ここを変更する時は、main.jsも */
$__entry-width: 760px;
$__sidebar-width: 332px;
$_entry-width: $__entry-width;
$_sidebar-width: calc(((100% - 1100px) / 2) + 332px);
$_responsive-point: $_content-width + 80px;

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 400;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  /*  font-family: "Segoe UI", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, Osaka, 'ＭＳ Ｐゴシック', sans-serif; */
  font: {
    family: 'San Francisco', BlinkMacSystemFont, 游ゴシック, 'Yu Gothic', YuGothic,
      'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, 'Noto Sans Japanese',
      'Noto Sans CJK JP', sans-serif;
    size: 16px;
  }

  color: $_text-color;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $_link-color;

  &:hover {
    text-decoration: none;
  }
}

a > .fa {
  vertical-align: -1px;
  color: $_text-color;
  text-decoration: none;
}

dl,
ul,
ol {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style-type: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.hidden_elem {
  display: none;
}

.mobile_only {
  display: none;
}

@media screen and (max-width: $_responsive-point) {
  .pc_only {
    display: none;
  }

  .mobile_only {
    display: block;
  }
}

/* 広告 */
.ad {
  &__space {
    text-align: center;

    &_bottom {
      margin-bottom: 32px;
    }

    &_sidebar {
      width: 300px;
      max-height: 250px;
    }
  }
}
