.sidebar {
  width: $_sidebar-width;
  color: #757575;
  font-size: 14px;
  background-color: #f5f7f8;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 calc($_sidebar-width - 332px) 0 8px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 56px);
  }

  &__author {
    width: 316px;

    &_photo {
      margin: 16px auto 0;
      text-align: center;
      vertical-align: middle;
    }

    &_img {
      vertical-align: middle;
      border-radius: 50%;
    }

    &_name {
      text-align: center;
      margin: 16px auto;
      color: $_text-color;
      font: {
        size: 20px;
        weight: bold;
      }
    }

    &_description {
      text-align: justify;
      text-justify: inter-ideograph;
      color: #666;
      margin: 0 auto 8px;
    }

    &_social {
      margin: 0 auto 16px;
      font-size: 22px;
      text-align: center !important;
    }

    &_link {
      margin: {
        left: 12px;
        right: 12px;
      }
    }
  }

  @media screen and (max-width: $_responsive-point) {
    width: 100%;
    max-width: 100%;
    padding: 24px;

    &__box {
      position: static;
      height: auto;
    }

    &__author {
      width: 100%;
    }
  }
}
